<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=infnetstorage;AccountKey=hu1SIQU6if5uDhNCoWe5xqwtIa8V1nZDrca6SdmYv/nL96aXGg75ekZpTqN5OWmkdDS0XRx9rzpPTiM+bnaE3Q==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>